<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Kontak</h2>
      <a href="/contact/add"><div class="btn btn-primary mt-2">Tambah Contact</div></a>
      <% if (msg.length != 0) { %>
      <div class="alert alert-success mt-3" role="alert"><%= msg %></div>
      <% } %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Nomor Hape</th>
            <th scope="col">Email</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% if(contacts.length == 0) { %>
          <tr>
            <td colspan="5">
              <div class="alert alert-danger" role="alert">Data masih kosong</div>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact, index) => { %>
          <tr>
            <% i = 1 %>
            <th scope="row"><%= index + 1 %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.nohp %></td>
            <td><%= contact.email %></td>
            <td>
              <a href="/contact/<%= contact.nama  %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
